/* Tags Styles */

nav {
  margin-top: 20px;
  padding: 3vh 15vw;
}

div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

img{
  width: 40px;
  height:40px;
}

p {
  font-weight: bold;
  color: var(--dark-green);
  margin: 0;
}

hr {
  margin: 0;
}

/* Classes Styles */

.loading{
visibility: hidden ;
}


/* Media Queries */

@media (width <= 1562px) {
  nav {
    padding: 3vh 10vw;
  }
}

@media (width <= 1160px) {
  nav {
    padding: 3vh 5vw;
  }
}

@media (width <= 986px) {
  nav {
    padding: 3vh 5vw;
  }
}

@media (width <= 800px) {
  nav {
    padding: 3vh 5vw;
  }
}

@media (width <= 560px) {
  nav {
    padding: 3vh 6vw;
  }
}
