/* Tags Styles */

span {
  color: white;
  background-color: var(--dark-green);
  padding: 4px 8px;
  border-radius: 0.8rem;
}

section {
  padding: 0vh 15vw;
}

/* Classes Styles */

.searchContainer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.cardsContainer{

  margin-top: 6rem;

  >div{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
  }
}


/* Media Queries */

@media (width <= 1562px) {

  section {
    padding: 0vh 10vw;
  }
}

@media (width <= 1160px) {
  section {
    padding: 0vh 5vw;
  }

}

@media (width <= 986px) {
  section {
    padding: 0vh 5vw;
  }

}

@media (width <= 800px) {
  section {
    padding: 0vh 5vw;
  }

}

@media (width <= 560px) {
  section {
    padding: 0vh 6vw;
  }

}
