/* Tags Styles */

section {
  padding: 0vh 15vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}

/* Classes Styles */

.loadingSection{
  display: flex;
  justify-content: center;
}

.episodeContainer{
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1px;

  .episodeContainer_img{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    object-fit: cover;
    object-position: center;
  }

  span{
    color: rgb(107, 97, 121);
    font-weight: 500;
    margin: 0;
  }

  h2{
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
  }

  .episodeContainer_trackName{
    font-style: italic;
  }

  p{
    margin: 0;
    color: rgb(107, 97, 121);
    font-style: italic;
  }

  hr{
    margin: 0;
    opacity: 0.5;
  }
}

.descriptionContainer{
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1px;
  padding: 20px;

  h2{
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
  }

  p{
    margin: 0;
    color: rgb(107, 97, 121);
    font-style: italic;
    margin-bottom: 15px;
  }

}


/* Media Queries */

@media (width <= 1562px) {
  section {
    padding: 0vh 10vw;
  }
  .episodeContainer{
    width: 30%;
  }
  .descriptionContainer{
    width: 70%;
  }
}

@media (width <= 1160px) {
  section {
    padding: 0vh 5vw;
  }
  .episodeContainer{
    width: 40%;
  }
  .descriptionContainer{
    width: 60%;
  }
}

@media (width <= 986px) {
  section {
    padding: 0vh 5vw;
    padding-bottom: 5vh;
  }
}

@media (width <= 800px) {
  section {
    padding: 0vh 5vw;
    padding-bottom: 5vh;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .episodeContainer{
    width: 70%;
    padding: 30px;
  }
  .descriptionContainer{
    width: 100%;
    padding: 30px;
  }
}

@media (width <= 560px) {
  section {
    padding: 0vh 6vw;
  }
  .episodeContainer{
    width: 100%;
    padding: 30px;
  }
  .descriptionContainer{
    width: 100%;
    padding: 30px;
  }
}

@media (width <= 395px) {
  .descriptionContainer{
    audio{
      margin-top: 20px;
      width: 100%;
    }
  }
}
